KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC_RAW=news_articles_raw
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=news_dw
POSTGRES_USER=news
POSTGRES_PASSWORD=news
DATA_LAKE_ROOT=/opt/project/data_lake
GOVERNANCE_ROOT=/opt/project/governance
